html {
  background: #2f1000;
  padding: 20px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*
COLOR PALETTE

BLACK BEAN (DARK BROWN) #2F1000

MISTY ROSE (WHITE) #F4DBD8

LIVER (DOGS) (ORANGE) #B76935

ONYX (GRAY) #383D3B

COFFEE (LIGHT BROWN) #6F23B

SEAL BROWN (RUST RED) #621B00

GUNMETAL (BLUE) #143642

*/
