.footer {
  font-size: 10px;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 40%;
  text-align: center;
  display: inline-block;
  font-family: "Antic";
  color: #fae1df;
  border-radius: 40px 10px;
  background: #28502e;
  background-image: linear-gradient(to bottom right, #070f08, #28502e);
  box-shadow: 2px 2px 3px 0px #dc6acf;
  -webkit-box-shadow: 2px 2px 3px 0px #dc6acf;
  -moz-box-shadow: 2px 2px 3px 0px #dc6acf;
}
.nameLinks {
  cursor: pointer;
}

/*
CURRENT COLOR PALETTE:
-------------
INTERNATIONAL ORANGE ENGINEER (RED) #B82601
PRUSSIAN BLUE #062F4F
HUNTER GREEN #28502E
MISTY ROSE #FAE1DF
DARK SIENNA #37000A
ORCHID (PINK) #DC6ACF
BLACK #000000
CAPUT MORTUUM (LIGHT BROWN) #5F2B28
ANTIQUE BRASS (LIGHT BROWN) #C69F89

*/

/*
ORIGINAL (and now retired) COLOR PALETTE:
-------------
BLACK BEAN (DARK BROWN) #2F1000
MISTY ROSE (WHITE) #F4DBD8
LIVER (DOGS) (ORANGE) #B76935
ONYX (GRAY) #383D3B
COFFEE (LIGHT BROWN) #6F23B
SEAL BROWN (RUST RED) #621B00
GUNMETAL (BLUE) #143642
BORB (BORB) #BBBBBB
*/
