.MainPage {
  border-radius: 40px 10px;
  border: none;
  background: #37000a;
  color: #062f4f;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Antic";
  /* box-shadow: 4px 4px 6px 0px #062f4f;
  -webkit-box-shadow: 4px 4px 6px 0px #062f4f;
  -moz-box-shadow: 4px 4px 6px 0px #062f4f; */
}

.allButtons {
  background: #28502e;
  background-image: linear-gradient(to bottom right, #070f08, #28502e);

  padding: 25px;
  border-radius: 40px 10px;
  box-shadow: 4px 4px 6px 0px #062f4f;
  -webkit-box-shadow: 4px 4px 6px 0px #062f4f;
  -moz-box-shadow: 4px 4px 6px 0px #062f4f;
}

.input {
  border-radius: 5px;
}
.buttons {
  font-family: "Antic";
  display: inline-block;
  position: relative;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  color: #fae1df;
  width: 80px;
  height: 40px;
  line-height: 30px;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  font-weight: bold;
  background-image: -webkit-linear-gradient(#c69f89 0%, #37000a 100%);
  background-image: linear-gradient(#c69f89 0%, #37000a 100%);
  text-shadow: 1px 1px 1px #37000a;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
  cursor: pointer;
}

.buttons:active {
  -ms-transform: translateY(2px);
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  background-image: -webkit-linear-gradient(#b82601 0%, #37000a 100%);
  background-image: linear-gradient(#b82601 0%, #37000a 100%);
}

/*
CURRENT COLOR PALETTE:
-------------
INTERNATIONAL ORANGE ENGINEER (RED) #B82601
PRUSSIAN BLUE #062F4F
HUNTER GREEN #28502E
MISTY ROSE #FAE1DF
DARK SIENNA #37000A
ORCHID (PINK) #DC6ACF
BLACK #000000
CAPUT MORTUUM (LIGHT BROWN) #5F2B28
ANTIQUE BRASS (LIGHT BROWN) #C69F89

*/

/*
ORIGINAL (and now retired) COLOR PALETTE:
-------------
BLACK BEAN (DARK BROWN) #2F1000
MISTY ROSE (WHITE) #F4DBD8
LIVER (DOGS) (ORANGE) #B76935
ONYX (GRAY) #383D3B
COFFEE (LIGHT BROWN) #6F23B
SEAL BROWN (RUST RED) #621B00
GUNMETAL (BLUE) #143642
BORB (BORB) #BBBBBB
*/
