.Navbar {
  border-radius: 40px 10px;
  border: none;
  background: #f4dbd8;
  color: #143642;
  font-family: "Bungee Shade";
  box-shadow: 4px 4px 6px 0px #143642;
  -webkit-box-shadow: 4px 4px 6px 0px #143642;
  -moz-box-shadow: 4px 4px 6px 0px #143642;
}
.appName {
  font-size: 50px;
  padding-top: 5px;
}
.phrase {
  padding-bottom: 20px;
}

/*
COLOR PALETTE

BLACK BEAN (DARK BROWN) #2F1000

MISTY ROSE (WHITE) #F4DBD8

LIVER (DOGS) (ORANGE) #B76935

ONYX (GRAY) #383D3B

COFFEE (LIGHT BROWN) #6F23B

SEAL BROWN (RUST RED) #621B00

GUNMETAL (BLUE) #143642

*/
